.step-box{
    text-align: center;
    margin-top: 25px;
    li{
        color: #ccc;
        display: inline-block;
        margin-right: 60px;
        position: relative;
        @media(max-width:$xs){
            margin-right: 40px;
        }
        &:after{
            content: '';
            position: absolute;
            top: 50%;
            width: 45px;
            left: 100%;
            margin-left: 7.5px;
            border-top: solid 1px #ccc;
            
            @media(max-width:$xs){
                width: 28px;
            }
        }

        &:last-child{
            margin-right: 0;
            &:after{
                display: none;
            }
        }
    }

    .active{
        color: $font-color;
    }
}

.alerter{
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 0px;
    font-size: 12px;
    color: $alert-color;
    left: 0;
}

.error {
    .alerter{
        display: block;
    }
}

.reservation-table{
    width: 100%;
    max-width: 540px;
    min-width: 350px;
    margin: auto;

    @media(max-width:$xs){
        min-width: auto;
    }
    
    .form-group {
	    height: 30px;
        margin-bottom: 0px;
    }
    
    td{
        vertical-align: middle;
        padding: 20px 15px;
        position: relative;
        line-height: 1.55em;
        @media(max-width:$xs){
            font-size: 14px;
            padding: 15px 7px;
        }
        
        .alerter{
            left: 15px;
            margin-top: -12px;
        }
    }
    
    input,select,textarea{
        outline: none;
        padding: 5px;
        line-height: 1.5em;
        width: 100%;
        background: $bg-color;
        border: solid 1px #ccc;
        border-radius: 2px;
        height: 32px;
        -webkit-appearance: none ;
        @media(max-width:$xs){
            font-size: 14px;
        }

    }
    
    input[type="radio"]{
        width: auto;
        height: auto;
    }
    
    .radio-span {
	    padding-left: 5px; 
        padding-right: 12px;
    }
    
    textarea{
        height: 170px;
        resize : none;  
    }
    
    
}

.table-box{
    max-width: 540px;
    margin: auto;
    @media(max-width:$xs){
        padding: 0 15px;
    }
    
    h4{
        @media(max-width:$xs){
            font-size: 16px;
        }
    }
    p{
        @media(max-width:$xs){
            font-size: 14px;
        }
    }
}

.textarea-story{
    height: 170px;
    resize : none;  
    outline: none;
    padding: 10px;
    line-height: 1.5em;
    width: 100%;
    background: $bg-color;
    border: solid 1px #ccc;
    border-radius: 2px;
    margin-top: 25px;
    resize : none;  
    max-width: 540px;
    
    @media(max-width:$xs){
        font-size: 14px;
    }
}

.privacy-check {
    font-size: 14px;
    max-width: 540px;
    margin: 25px auto 0;
}