
.btn{
    cursor: pointer;
    text-align: center;
}

.standard-btn {
    position: relative;
    font-size: 18px;
    display: table;
    padding: 12px;
    width: 160px;
    color: $font-color;
    border: solid 1px $font-color;
    border-radius: 36px;
    background: $bg-color;
    letter-spacing: 5px;
    //transform: translate(0,0);
    @media(max-width:$xs){
        font-size: 16px;
        padding: 10px;
    }

    &:after{
        z-index: -1;
        content: '';
        position: absolute;
        width: 160px;
        height: 51px;
        top: 1px;
        left: 1px;
        transform: translate(0,0);
        border: solid 1px $font-color;
        border-radius: 36px;
        background:  $bg-color;
        @media(max-width:$xs){
            height: 44px;
        }
    }
    &:hover{
        top: 2px;
        left: 2px;
        &:after{
            transform: translate(-2px,-2px);
        }
    }
}

.theme-btn{
    background: $theme-color;
}

.btn-box {
    text-align: center;
	.standard-btn {
	    display: inline-block;
        width: 140px;
        @media(max-width:$xs){
            font-size: 14px;
            width: 115px;
        }
        &:after{
            width: 140px;
            @media(max-width:$xs){
                width: 115px;
                height: 42px;
            }
        }
    }
    
    a:first-child{
        .standard-btn {
            margin-right: 15px;    
            margin-left: 15px;
            @media(max-width:$xs){
                margin-left: -2.5px;
                margin-right: 5px;
            }
        }
    }
}

.content-box{
    .standard-btn {
        margin-top: 65px;

        @media(max-width:$xs){
            margin-top: 45px;
        }
    }
}